<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
  <%= @article.category.name %>
</p>

<% if @article.image.attached? %>
  <%= image_tag @article.image %>
<% end %>

<span>
<%= vote_unvote(@article) %>
</span>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
