<!DOCTYPE html>
<html>
  <head>
    <title>LifeStyle</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="navs">
  <div class="nav-content">
  <div class="left">
  <span><%= link_to "Crytonica", root_path, class:"logo" %></span>
  </div>
  <div class="center">
   <%= show_cat_links %>
  </div>
  <div class="right">
      <span><%= show_sign_in %></span> 
      <span><%= show_sign_up %></span>
      <span><%= show_sign_out %></span>
  </div>
  </div>
</div>
  
</div>
       
    </div>

    <%= yield %>
  
  </body>
</html>
