<!DOCTYPE html>
<html>
  <head>
    <title>LifeStyle</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="navs">
  <div class="nav-content">
  <div class="left">
  <span class="nav-brand">Africina</span>
  </div>
  <div class="center">
    <% @categories.each do |category| %>
      <%= link_to category.name.capitalize, category %>
    <% end %>
  </div>
  <div class="right">
      <span><%= show_sign_in %></span> 
      <span><%= show_sign_up %></span>
      <span><%= show_sign_out %></span>
  </div>
  </div>
</div>


<% voteChecker = 0 %>
<% heighest = "" %>
<% @articles.each do |article| %>
 <% if article.votes.length > voteChecker %>
    <% voteChecker = article.votes.count %>
    <% heighest = article %>
 <% end %>
<% end %>

<% if heighest.image.attached? %>
    <div class="header-img-wrapper" style="background-image: url(<%= rails_blob_url( heighest.image ) %>)">
  <% end %>
<div class="content-wrapper">
  <%= heighest.title %>
  <%= heighest.category.name %>
</div>
       
    </div>






    
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
